.footer {

	background-color: $dark-purple;
	color: $white;
	padding: 30px 50px;
	text-align: center;

	@include tablet {
		width: 60%;
		margin-left: auto;
	}

	.footer__icons {

		a {
			color: $white;
			padding: 5px;
			margin: 5px;
			transition: all 0.2s ease;

			@include tablet {
				margin: 5px 15px;
			}

			&:hover {
				color: $grey;
			}
		}
	}
}